body {
    background-color: rgba(237, 157, 248, 0.692);
}
h2 {
    color: rgb(226, 43, 165);
}

.titulo-principal{
    margin-bottom: 20px; 
    color: rgb(41, 39, 184);
}
.destaque{
    color: rgba(195, 11, 212, 0.829); 
    background-color: rgba(132, 207, 209, 0.692)
}
#especial{
    font-style: italic; 
    border-left: 3px solid rgb(0, 0, 0); 
    padding-left: 5px;
}
.paragrafo-comum{
    line-height: 1.6;
}
.bloco-um{
    p{
        background-color: rgba(0, 89, 255, 0.521);
    }
    .titulo-bloco{
        border-bottom: 2px solid rgb(42, 139, 131);
    }
}
.bloco-dois{
    p{padding: 10px;}
    
    .titulo-bloco{
        font-family: Arial, sans-serif;
    }
}