:root {
    --corFundo: #8dc4f8;
    --tamanhoLink: 5.4rem;
}

body {
    background-color: var(--corFundo);
}

a {
    font-size: var(--tamanhoLink);
}

@media screen and (max-width: 600px){
    header {
        position: fixed;
        width: 100vh;
    }
    a {
        font-size: var(--corfundo);
    }
}